site_name: "Esteban Foucher"
site_description: "Curriculum vitae"

docs_dir: content

theme:
  name: material
  language: en
  palette:
    - scheme: default
      primary: white
      accent: indigo
  font:
    text: system-ui
    code: "JetBrains Mono"
  features:
    - navigation.instant
    - navigation.sections
    - navigation.tracking

extra_css:
  - assets/styles.css

plugins:
  - search:
      enabled: false

markdown_extensions:
  - toc:
      permalink: true
  - tables
  - admonition
  - footnotes
  - codehilite



